
bin/
obj/
out/


Debug/
Release/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


*.cache
*.log
*.ldb


.idea/
*.sln.iml
*.DotSettings.user
_ReSharper.Caches/

*.mdf
*.ldf
*.sqlite
*.bak


publish/
wwwroot/


*.dll
*.pdb
*.exe


DesignTimeBuild/
ProjectEvaluation/


bin/Debug/net8.0/runtimes/
bin/Debug/net8.0/lib/


BLL/obj/
DAL/obj/
API/obj/


*.db
*.db-shm
*.db-wal


*.dtbcache.v2
*.futdcache.v2


/uploads

**/appsettings.Development.json
/asp.api.basic/serilog-selflog.txt
/asp.api.basic/Logs/